!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= data.page.title || "Steel City Ruby Conference 2014 | August 15-16"
    %meta{content: "Inviting Rubyists from across the land to a two-day conference in the heart of the Steel City - Pittsburgh, Pennsylvania. With an emphasis on learning and conversation, Steel City Ruby Conf is the ultimate community experience for Rubyists of all skill levels.", name: "description"}
    %meta{content: "width=device-width", name: "viewport"}
    = stylesheet_link_tag "normalize"
    = stylesheet_link_tag "foundation"
    = stylesheet_link_tag "style"
  %body
    = yield
    %footer