---
title: Steel City Ruby Conf 2014 | August 15-16
---

%section#hero
  %img{src: 'assets/img/scrc14_hero_logo@2x.png', style: 'width:70%;margin-bottom:20px;'}
  %h1 August 15-16, 2014
  %h2 Pittsburgh, PA
  %a.button{href: 'http://www.showclix.com/event/SteelCityRuby2014', title: 'Buy Steel City Ruby Tickets'} Register Now

  %div
    %a{href: '/schedule'} Schedule
    | |
    %a{href: '/events/'} Events
    | |
    %a{href: '/travel'} Travel information
    | |
    %a{href: '/policies'} Policies & Procedures
    | |
    %a{href: '/sponsorship'} Sponsorship
    | |
    %a{href: '#speakers'} Speakers

  %img{src: 'assets/img/pittsburgh_skyline@2x.png', style: 'width:100%;margin-top:20px;'}
  #speakers
    .row
      - schedule = YAML.parse_file("schedule.yaml").to_ruby
      %h2 Speakers
      - schedule.each do |day|
        - unless day['events'].nil?
          - day['events'].each do |event|
            - next if ['SCRC','Thanks to ModCloth'].include? event['speaker']
            .speaker
              %img{"data-src" => "/assets/img/thumbs/#{event['img']}", "data-webp" => "/assets/img/thumbs/#{event['img'].match(/(.*)\./)[1]}.webp"}
              %h3= event['speaker']
    .row
      %a{href: 'schedule'} Full Schedule

  - y = YAML.parse_file("sponsors.yaml").to_ruby
  #sponsors
    .row
      .large-8.columns.large-offset-2
        %br
        %h2 Sponsors
        - y.each_with_index do |level, index|
          - if level['sponsors'].nil?
            %p Your organization could be first!
          - else
            - level['sponsors'].each do |sponsor|
              %a{href: sponsor['url']}
                %img{src: "assets/img/sponsor_logos/#{sponsor["img"]}",
                     alt: sponsor["name"],
                     class: "sponsor-img level-#{level["level"].downcase}"}
        %p
          :markdown
            We thank our very gracious and generous sponsors for their support of SCRC.
            This event would not be possible without them.

            <a href="/sponsors">See more information about these companies and organizations.</a>

            Want to sponsor? <a href="/sponsorship">See our sponsorship information page</a>.

  #signup
    .row
      .large-12.columns
        <!-- Begin MailChimp Signup Form -->
        %link{href: "//cdn-images.mailchimp.com/embedcode/slim-081711.css", rel: "stylesheet", type: "text/css"}
        :css
          #mc_embed_signup {
            background:#fff;
            clear:left;
            font:14px Helvetica,Arial,sans-serif;
            width:400px;
            margin: 0 auto;
          }
        <div id="mc_embed_signup">
        <form action="http://steelcityrubyconf.us4.list-manage.com/subscribe/post?u=2f98a75a6d5c290290ddede7a&amp;id=ab4832b2f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Sign up for announcements</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_2f98a75a6d5c290290ddede7a_ab4832b2f5" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
